<%= form_for(@post) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :title, placeholder: "Enter your title..." %>
  </div>
    <div class="field">
    <%= f.text_area :content, placeholder: "Waiting for content..." %>
  </div>

  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>